<div class="col-md-12">
  <form name="config">
	<table class='table table-borderless'>
		<thead>
			<tr>
				<th>Enabled</th>
				<th>Pool</th>
				<th>Config</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td><input type="checkbox" checked disabled></td>
				<td>nicehash<td>
				<td>-</td>
			</tr>
			<tr>
				<td><input type="checkbox" checked disabled></td>
				<td>miningpoolhub<td>
				<td>-</td>
			</tr>
			<tr>
				<td><input type="checkbox" checked disabled></td>
				<td>minecryptonight<td>
				<td>
					<table class='table table-borderless'>
						<thead>
							<tr>
								<th>Name</th>
								<th>Supports SSL</th>
								<th>URL/Domain</th>
								<th>Port</th>
								<th>SSL Port</th>
								<th>user</th>
								<th>pass</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="(key, data) in configVm.config.cryptonightPools track by $index">
								<td>{{key}}</td>
								<td><input type="checkbox" ng-model="data.supportsSSL"></td>
								<td><input type="text" ng-model="data.url" placeholder="somedomain.com" size="42"></td>
								<td><input type="number" ng-model="data.port"></td>
								<td><input type="number" ng-model="data.sslPort"></td>
								<td><input type="text" ng-model="data.user"></td>
								<td><input type="text" ng-model="data.pass"></td>
							</tr>
						</tbody>
					</table>
				</td>
			</tr>
		</tbody>
	</table>

    <div class="col-md-12" style="margin-bottom: 10px;">
      <button type="button" class="btn btn-success" ng-disabled="config.$invalid" ng-click="configVm.setConfig()">Save
      </button>
      <i ng-show="configVm.waiting" class="fa fa-cog fa-spin fa-lg fa-fw"></i>
      <span class="sr-only">Loading...</span>
    </div>
  </form>
  
  <div style="margin-bottom: 10px;">
    <button ng-show="!configVm.updating" type="button" class="btn btn-success" ng-click="configVm.update()"><i class="fa fa-refresh" aria-hidden="true"></i> Git Pull
    </button>
    <button ng-show="configVm.updating" type="button" class="btn btn-success" disabled><i class="fa fa-refresh" aria-hidden="true"></i> update running..
    </button>
    <i ng-show="configVm.updating" class="fa fa-cog fa-spin fa-lg fa-fw"></i>
    <span class="sr-only">Loading...</span>
  </div>
  
  <div class="col-md-12" style="margin-bottom: 10px;">
	<button type="button" class="btn btn-success" ng-click="configVm.testQuery()">Test Query
	</button>
  </div>
  
  <div class="col-md-12" style="margin-bottom: 10px;">
	<table class='table table-borderless'>
		<thead>
			<tr>
				<th>Algo</th>
				<th>Profitability</th>
				<th>Pool</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="(key, data) in configVm.algos track by $index">
				<td>{{key}}</td>
				<td><span data-highlighter="data.profitability">{{configVm.getFormattedProfitability(data.profitability)}}</span></td>
				<td><span data-highlighter="data.pool">{{data.pool}}</span></td>
			</tr>
		</tbody>
	</table>
  </div>
</div>
