<div class="col-md-12">
	<input ng-model="statsVm.query" type="text" placeholder="Filter by">
</div>
<div class="col-md-12">
	<table class="table table-bordered table-condensed" ng-if="statsVm.logs">
        <thead>
        <tr>
          <th>Timestamp</th>
          <th>Identifier</th>
          <th>Algo</th>
          <th>Pool</th>
          <th>Profitability</th>
        </tr>
	</thead>
	<tbody>
	<tr ng-repeat="(key, data) in statsVm.logs | filter: statsVm.query | limitTo:40 track by $index">
          <td>{{data.date}}</td>
          <td>{{data.name}}</td>
          <td>{{data.algo}}</td>
          <td>{{data.pool}}</td>
          <td>{{data.profitability}} BTC/Day</td>
	</tr>
	</tbody>
	</table>
</div>
