html {
    text-align: center;
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 2em;
}

.container {
    text-align: center;
    word-wrap: break-word;
    position: relative;
}

.table-borderless tbody tr td, .table-borderless tbody tr th, .table-borderless thead tr th {
    border: none;
    text-align: center;
}

th {
    text-align: center;
}

.slim tr {
	padding: 1px 1px 1px 1px;
	line-height: 12px;
}

ul {
    display: inline-block;
    text-align: left;
	list-style-type: none;
}

ul.centered {
    text-align: center;
}

ul.dotted {
    padding-left: 8px;
    display:list-item;
}
ul.dotted li {
    list-style-type: circle;
}

.childLeft {
    display: inline-block;
    vertical-align: top;
    margin-right: 8px;
    margin-left: 8px;
}

.footer {
    bottom: 0;
    position: absolute;
    text-align: center;
    width: 100%;
    height: 2em;
}

.highlight {
    background-color: lightgreen;
    transition: background 500ms;
}
